## Twitter Account

In [2]:
import pandas as pd
import os
import time
import requests
import json
import csv
from tqdm import tqdm

import tweepy

import requests
import pandas as pd
import os

import matplotlib.pyplot as plt
from turtle import color
from collections import Counter


#api = pd.read_csv()

 ## extract specific keys from the api structure above.

In [3]:
consumer_key        = 'TGknXGDLF6fEbV58TN9FhZbxM'
consumer_secret     = 'z4zzWXeAEbb9qyKmUUC5Xnz8zLFhRfISxJ9Y4FSAzwyXeC5YI9'
access_token        = '1567741611135717376-zV7iig0s4w338wBm40bKP9f9U5PcD3'
access_token_secret = 'XC1LDChPSXbyYY4cWmj50QIhP5fMVouGp9FCOF0KSnmIz'
bearer_token        = 'AAAAAAAAAAAAAAAAAAAAAOJigwEAAAAABJ%2FEkkSNtKUorB8KrLpPbwIK18I%3DAVPH1a4Kukc6Hbu2JwOPpiTcUtwthDZpJ46iprRgYER8n6PJTw'

 ## Set the twitter authentication and bearer token and verify the screen name.

In [4]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)
headers = {"Authorization": "Bearer {}".format(bearer_token)}

In [5]:
def search_twitter(query, max_results, bearer_token, start_time, end_time, tweet_fields):
    
    client = tweepy.Client(bearer_token = bearer_token)
    tweets = tweepy.Paginator(client.search_recent_tweets, query=query, tweet_fields=tweet_fields,
                                start_time=start_time, end_time=end_time).flatten(limit = max_results)
    
    tweet_search = []
    for tweet in tweets:
        tweet_search.append((tweet.text, tweet.author_id, tweet.created_at, tweet.lang))
        
    return tweet_search

In [12]:
query = 'ferrari f1 -is:retweet'
max_results = 1000
start_time = '2022-09-22T00:00:00Z'
end_time = '2022-09-27T00:00:00Z'
tweet_fields = 'text,author_id,created_at,lang'

search_list = search_twitter(query, max_results, bearer_token, start_time, end_time, tweet_fields)

In [23]:
def store_tweets_f1(query_list):
    
    max_results = 1000
    start_time = '2022-09-22T00:00:00Z'
    end_time = '2022-09-27T00:00:00Z'
    tweet_fields = 'text,author_id,created_at,lang'
    
    for query in query_list:
        tweet_search = search_twitter(query + " f1 -is:retweet", max_results, bearer_token, start_time, end_time, tweet_fields)
        df = pd.DataFrame(tweet_search, columns = ['text', 'author_id', 'created_at', 'lang'])
        df = df[df['lang'] == 'en']
        df = df[['text', 'lang']]
        df.to_csv('../../data/00-raw-data/' + query + '_f1_tweets.csv')
        
    return df

In [33]:
query_list = ['ferrari', 'mercedes', 'redbull', 'mclaren', 'aston martin', 'alpha tauri', 'alpine', 'williams', 'haas', 'alfa romeo']

 create query, twitter fields, and a json list to gather the tweets from the query

In [34]:
store_tweets_f1(query_list)

                                                  text lang
6    The only non-qualifier for the race was Franco...   en
12   IM RACING AGAIN! This time in a new league cal...   en
19   @l4ndoslove color: yellow\nweather: sunny\ndri...   en
20   @Leah5899_ Color: yellow\nWeather: spring suns...   en
21   @stella__f1 @estesunnies you fine with alfa ro...   en
..                                                 ...  ...
348  F1: Zhou admits 2023 race seat ‘not decided ye...   en
349  Alfa Romeo and Haas are the only 2 F1 teams th...   en
352  Alfa Romeo must have the best value for money ...   en
356  Alpine, Alfa Romeo, Williams and Haas all have...   en
357  Zhou admits Alfa Romeo 2023 race seat extensio...   en

[180 rows x 2 columns]